* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 100%;
  --border-radius: 12px;
  --font-inter: "Inter";
  --h1-font-size: 2em;
  --h2-font-size: 1.75em;
  --h3-font-size: 1.5em;
  --h4-font-size: 1em;
}

body {
  font-family: var(--font-inter), sans-serif;
  color: var(--neutrals-dark-gray)
}

h2 {
  padding-top: 16px;
}

h4 {
  font-weight: 600; /*semibold*/
}