* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 100%;
  --border-radius: 12px;
  --border-radius-small: 6px;
  --font-inter: "Inter";
}

body {
  font-family: var(--font-inter), sans-serif;
  color: var(--neutrals-dark-gray);
  height: 100vh;
}
