* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 100%;
  --border-radius-small: 6px;
  --font-inter: "Inter";
}

body {
  font-family: var(--font-inter), sans-serif;
}

body > div {
  padding: 2rem;
}

form {
  padding: 0.5rem;
}
