
:root {
  --neutrals-white: #ffffff;
  --neutrals-light-gray: #eef1f4;


  --neutrals-mid-gray: #bac0ca;
  --neutrals-gray: #a3a9b3;
  --neutrals-dark-gray: #667080;
  --neutrals-black-gray: #363636;

  --primary-50: #eff9ff;
  --primary-100: #def2ff;
  --primary-200: #b6e6ff;
  --primary-300: #75d5ff;
  --primary-400: #2cc0ff;
  --primary-500: #14b4ff;
  --primary-600: #0086d4;
  --primary-700: #006bab;
  --primary-800: #005a8d;
  --primary-900: #064b74;
  --primary-950: #042f4d;

  --secondary-50: #fff0fb;
  --secondary-100: #ffe3f9;
  --secondary-200: #ffc6f3;
  --secondary-300: #ff98e7;
  --secondary-400: #ff59d4;
  --secondary-500: #ff28bf;
  --secondary-600: #fe14a5;
  --secondary-700: #de007f;
  --secondary-800: #b70068;
  --secondary-900: #980359;
  --secondary-950: #5e0031;

  --tertiary-50: #fefde8;
  --tertiary-100: #fffcc2;
  --tertiary-200: #fff788;
  --tertiary-300: #ffe944;
  --tertiary-400: #fed814;
  --tertiary-500: #fed814;
  --tertiary-600: #cd9301;
  --tertiary-700: #a46804;
  --tertiary-800: #87520c;
  --tertiary-900: #734310;
  --tertiary-950: #432205;

  --feedback-success: #04bf2d;
  --feedback-warning: #ffcd1b;
  --feedback-error: #fc1358;
}
:root[data-theme="dark"] {
  --neutrals-50: #0a0d0f;
  --neutrals-100: #141b1f;
  --neutrals-400: #526a7a;
  --neutrals-500: #668599;
  --neutrals-700: #a3b6c2;
  --neutrals-950: #f0f3f5;

  --primary-50: #00111a;
  --primary-100: #002333;
  --primary-200: #004666;
  --primary-300: #006999;
  --primary-400: #008bcc;
  --primary-500: #00aeff;
  --primary-600: #33beff;
  --primary-700: #66cfff;
  --primary-800: #99dfff;
  --primary-900: #ccefff;
  --primary-950: #e5f7ff;

  --secondary-50: #1a0012;
  --secondary-100: #330024;
  --secondary-200: #660047;
  --secondary-300: #99006b;
  --secondary-400: #cc008f;
  --secondary-500: #ff00b2;
  --secondary-600: #ff33c2;
  --secondary-700: #ff66d1;
  --secondary-800: #ff99e0;
  --secondary-900: #ffccf0;
  --secondary-950: #ffe5f7;

  --accent-50: #191500;
  --accent-100: #332a00;
  --accent-200: #655501;
  --accent-300: #987f01;
  --accent-400: #cba901;
  --accent-500: #fed401;
  --accent-600: #fedc34;
  --accent-700: #fee567;
  --accent-800: #feee9a;
  --accent-900: #fff6cc;
  --accent-950: #fffbe6;

  --feedback-success: #04bf2d;
  --feedback-warning: #ffcd1b;
  --feedback-error: #fc1358;
}
